In [1]:
import pandas as pd
import os
template_input = {}

In [2]:
with pd.ExcelFile('./template_input.xlsx') as xlsx:
    template_input['stock'] = pd.read_excel(xlsx,'stock',index_col = 'Recipe',na_values='NA', skiprows=0)

In [3]:
stock = template_input['stock'].to_json()
stock

'{"stock":{"A2":100,"A4":200,"B2":300,"C4":400}}'

In [4]:
with pd.ExcelFile('./template_input.xlsx') as xlsx:
    template_input['lines'] = pd.read_excel(xlsx,'lines',index_col = 'Line',na_values='NA', skiprows=0)

In [5]:
df_tp = template_input['lines'][['id','currentRecipe','Recipe 1','Recipe 2','Recipe 3','Recipe 4']]
df_tp.insert(6, 'possibleRecipeList', "string_holder")

In [6]:
i,j = 0,0 
for i in range(0,20):
    arr = []
    for j in range(2,6):
        val = df_tp.iloc[i,j]
        if (type(val) == str):
            # val_str = '"\{}\"'.format(val)
            arr.append(val)
    # new_arr = '[%s]' % ', '.join(map(str, arr))
    # df_tp["possibleRecipeList"][i] = new_arr
    df_tp["possibleRecipeList"][i] = arr

In [7]:
df_tp

,id,currentRecipe,Recipe 1,Recipe 2,Recipe 3,Recipe 4,possibleRecipeList
Line,,,,,,,
Line 1,1,K4,K4,K2,NaN,NaN,"[K4, K2]"
Line 2,2,A4,A4,A2,NaN,NaN,"[A4, A2]"
Line 3,3,B4,B4,B2,NaN,NaN,"[B4, B2]"
Line 4,4,C4,C4,C2,NaN,NaN,"[C4, C2]"
Line 5,5,D4,D4,D2,NaN,NaN,"[D4, D2]"
Line 6,6,J4,J4,J2,U4,U2,"[J4, J2, U4, U2]"
Line 7,7,E4,E4,E2,NaN,NaN,"[E4, E2]"
Line 8,8,F4,F4,F2,NaN,NaN,"[F4, F2]"
Line 9,9,H4,H4,H2,SE,NaN,"[H4, H2, SE]"
Line 10,10,T4,T4,T2,NaN,NaN,"[T4, T2]"
Line 11,11,M4,M4,M2,NaN,NaN,"[M4, M2]"
Line 12,12,I4,I4,I2,NaN,NaN,"[I4, I2]"
Line 13,13,L4,L4,L2,NaN,NaN,"[L4, L2]"
Line 14,14,R4,R4,R2,NaN,NaN,"[R4, R2]"
Line 15,15,G4,G4,G2,SF,NaN,"[G4, G2, SF]"
Line 16,16,P4,P4,P2,SA,NaN,"[P4, P2, SA]"
Line 17,17,S4,S4,S2,NaN,NaN,"[S4, S2]"
Line 18,18,O4,O4,O2,NaN,NaN,"[O4, O2]"
Line 19,19,Q4,Q4,Q2,NaN,NaN,"[Q4, Q2]"
Line 20,20,N4,N4,N2,SG,NaN,"[N4, N2, SG]"

In [8]:
x = df_tp[['id', 'currentRecipe', 'possibleRecipeList']].to_json(orient='records')
lines = '"lines":' + x
"{" + stock + "," + lines + "}"

'{{"stock":{"A2":100,"A4":200,"B2":300,"C4":400}},"lines":[{"id":1,"currentRecipe":"K4","possibleRecipeList":["K4","K2"]},{"id":2,"currentRecipe":"A4","possibleRecipeList":["A4","A2"]},{"id":3,"currentRecipe":"B4","possibleRecipeList":["B4","B2"]},{"id":4,"currentRecipe":"C4","possibleRecipeList":["C4","C2"]},{"id":5,"currentRecipe":"D4","possibleRecipeList":["D4","D2"]},{"id":6,"currentRecipe":"J4","possibleRecipeList":["J4","J2","U4","U2"]},{"id":7,"currentRecipe":"E4","possibleRecipeList":["E4","E2"]},{"id":8,"currentRecipe":"F4","possibleRecipeList":["F4","F2"]},{"id":9,"currentRecipe":"H4","possibleRecipeList":["H4","H2","SE"]},{"id":10,"currentRecipe":"T4","possibleRecipeList":["T4","T2"]},{"id":11,"currentRecipe":"M4","possibleRecipeList":["M4","M2"]},{"id":12,"currentRecipe":"I4","possibleRecipeList":["I4","I2"]},{"id":13,"currentRecipe":"L4","possibleRecipeList":["L4","L2"]},{"id":14,"currentRecipe":"R4","possibleRecipeList":["R4","R2"]},{"id":15,"currentRecipe":"G4","possibleRecipeList":["G4","G2","SF"]},{"id":16,"currentRecipe":"P4","possibleRecipeList":["P4","P2","SA"]},{"id":17,"currentRecipe":"S4","possibleRecipeList":["S4","S2"]},{"id":18,"currentRecipe":"O4","possibleRecipeList":["O4","O2"]},{"id":19,"currentRecipe":"Q4","possibleRecipeList":["Q4","Q2"]},{"id":20,"currentRecipe":"N4","possibleRecipeList":["N4","N2","SG"]}]}'