In [1]:
import pandas as pd
import json
from pandas import json_normalize

In [2]:
file = open(r'C:\Users\Peiran Quan\myWorkStation\PlanningClient\template_response.json')

In [3]:
data = json.load(file)

In [4]:
df = json_normalize(data["pickingJob"])
df

,teamId,startDateTime,finishDateTime,teamLeader,id,line,batch,week,year,done,recipe,productionTarget,mealKitPerCrate,targetSpeed,displayOrder,createdAt
0,1,06:00,06:51,Team 1,0,5,None,None,None,None,B4,280,None,None,None,None
1,1,06:51,07:46,Team 1,0,14,None,None,None,None,N2,350,None,None,None,None
2,1,07:46,08:42,Team 1,0,3,None,None,None,None,D2,350,None,None,None,None
3,1,08:42,09:39,Team 1,0,11,None,None,None,None,M4,280,None,None,None,None
4,1,09:39,10:36,Team 1,0,6,None,None,None,None,C4,280,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,9,14:08,15:04,Team 9,0,11,None,None,None,None,M2,350,None,None,None,None
105,9,15:04,15:43,Team 9,0,12,None,None,None,None,K2,229,None,None,None,None
106,9,15:43,16:05,Team 9,0,19,None,None,None,None,T2,143,None,None,None,None
107,9,16:05,16:59,Team 9,0,19,None,None,None,None,T4,280,None,None,None,None
108,9,16:59,20:39,Team 9,0,14,None,None,None,None,N4,1230,None,None,None,None

In [5]:
df_ultilize = df[["teamLeader", "line", "startDateTime", "finishDateTime", "recipe", "productionTarget"]]
df_ultilize

    teamLeader line startDateTime finishDateTime recipe  productionTarget
0       Team 1    5         06:00          06:51     B4               280
1       Team 1   14         06:51          07:46     N2               350
2       Team 1    3         07:46          08:42     D2               350
3       Team 1   11         08:42          09:39     M4               280
4       Team 1    6         09:39          10:36     C4               280
..         ...  ...           ...            ...    ...               ...
104     Team 9   11         14:08          15:04     M2               350
105     Team 9   12         15:04          15:43     K2               229
106     Team 9   19         15:43          16:05     T2               143
107     Team 9   19         16:05          16:59     T4               280
108     Team 9   14         16:59          20:39     N4              1230

[109 rows x 6 columns]

In [6]:
df_ultilize.to_csv('response.csv', index = False)