In [1]:
import pandas as pd
import json
from pandas import json_normalize

In [2]:
# file = open(r'C:\Users\Peiran Quan\myWorkStation\PlanningClient\template_response.json')
file = open(r'.\test_response.json')

In [3]:
data = json.load(file)

In [4]:
df = json_normalize(data["pickingJob"])
df

,teamId,startDateTime,finishDateTime,teamLeader,id,line,batch,week,year,done,recipe,productionTarget,mealKitPerCrate,targetSpeed,displayOrder,createdAt,teamNames
0,1,06:00,06:07,Team 1,0,19,None,None,None,None,O2,35,5,334,None,None,None
1,1,06:07,06:13,Team 1,0,19,None,None,None,None,O2,35,5,334,None,None,None
2,1,06:13,06:20,Team 1,0,19,None,None,None,None,O2,35,5,334,None,None,None
3,1,06:20,06:26,Team 1,0,19,None,None,None,None,O2,35,5,334,None,None,None
4,1,06:26,06:32,Team 1,0,19,None,None,None,None,O2,35,5,334,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,9,12:08,12:12,Team 9,0,19,None,None,None,None,O4,28,4,381,None,None,None
714,9,12:12,12:17,Team 9,0,19,None,None,None,None,O4,28,4,381,None,None,None
715,9,12:17,12:21,Team 9,0,19,None,None,None,None,O4,28,4,381,None,None,None
716,9,12:21,12:25,Team 9,0,19,None,None,None,None,O4,27,4,381,None,None,None
717,9,12:25,12:40,Team 9,0,19,None,None,None,None,U4,35,5,156,None,None,None

In [5]:
df_ultilize = df[["teamLeader", "line", "startDateTime", "finishDateTime", "recipe", "productionTarget"]]
df_ultilize

    teamLeader line startDateTime finishDateTime recipe  productionTarget
0       Team 1   19         06:00          06:07     O2                35
1       Team 1   19         06:07          06:13     O2                35
2       Team 1   19         06:13          06:20     O2                35
3       Team 1   19         06:20          06:26     O2                35
4       Team 1   19         06:26          06:32     O2                35
..         ...  ...           ...            ...    ...               ...
713     Team 9   19         12:08          12:12     O4                28
714     Team 9   19         12:12          12:17     O4                28
715     Team 9   19         12:17          12:21     O4                28
716     Team 9   19         12:21          12:25     O4                27
717     Team 9   19         12:25          12:40     U4                35

[718 rows x 6 columns]

In [6]:
def change_indicator(input_df: pd.DataFrame) -> pd.DataFrame :
    input_df.sort_values(by=['startDateTime'], ascending=True, inplace=True)
    col_ori = input_df['recipe']
    col_shift = input_df['recipe'].shift(1)
    input_df['change_indicator'] = ~(col_ori == col_shift)
    return input_df

In [7]:
df_ultilize = df_ultilize.groupby(['teamLeader']).apply(change_indicator)
df_ultilize

,teamLeader,line,startDateTime,finishDateTime,recipe,productionTarget,change_indicator
0,Team 1,19,06:00,06:07,O2,35,True
1,Team 1,19,06:07,06:13,O2,35,False
2,Team 1,19,06:13,06:20,O2,35,False
3,Team 1,19,06:20,06:26,O2,35,False
4,Team 1,19,06:26,06:32,O2,35,False
...,...,...,...,...,...,...,...
713,Team 9,19,12:08,12:12,O4,28,False
714,Team 9,19,12:12,12:17,O4,28,False
715,Team 9,19,12:17,12:21,O4,28,False
716,Team 9,19,12:21,12:25,O4,27,False
717,Team 9,19,12:25,12:40,U4,35,True

In [8]:
df_ultilize.to_csv('response.csv', index = False)

In [9]:
df_stock = json_normalize(data["stockOverTime"])
df_stock.head()

,time,assemblyLine02Requirement,kittingLineProduced,shortage,stockTotal,as01Total,as02Total,kittingLineTotal,dollyCount,acceptedDollyCount,...,kittingLineProduced.Q4,kittingLineProduced.R4,kittingLineProduced.S4,kittingLineProduced.T4,kittingLineProduced.U4,kittingLineProduced.SA,kittingLineProduced.SG,kittingLineProduced.SE,kittingLineProduced.SF,assemblyLine01Requirement
0,13/11/2020 05:00,NaN,NaN,0,10984,3,0,0,319,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13/11/2020 06:00,NaN,NaN,0,11285,51,3266,3618,349,0,...,0.0,0.0,122.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,13/11/2020 07:00,NaN,NaN,0,11199,65,3696,3675,362,0,...,0.0,0.0,242.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,13/11/2020 08:00,NaN,NaN,0,12023,456,2637,3917,385,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,91.0,NaN
4,13/11/2020 09:00,NaN,NaN,0,12474,20,3298,3769,404,0,...,0.0,84.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [10]:
[i for i in df_stock.columns]

['time',
 'assemblyLine02Requirement',
 'kittingLineProduced',
 'shortage',
 'stockTotal',
 'as01Total',
 'as02Total',
 'kittingLineTotal',
 'dollyCount',
 'acceptedDollyCount',
 'acceptedKittingLineTotal',
 'acceptedKittingLineProduced',
 'acceptedShortage',
 'acceptedStock',
 'acceptedStockTotal',
 'assemblyLine01Requirement.A2',
 'assemblyLine01Requirement.A4',
 'assemblyLine01Requirement.B2',
 'assemblyLine01Requirement.B4',
 'assemblyLine01Requirement.C2',
 'assemblyLine01Requirement.C4',
 'assemblyLine01Requirement.D2',
 'assemblyLine01Requirement.D4',
 'assemblyLine01Requirement.E2',
 'assemblyLine01Requirement.E4',
 'assemblyLine01Requirement.F2',
 'assemblyLine01Requirement.F4',
 'assemblyLine01Requirement.G2',
 'assemblyLine01Requirement.G4',
 'assemblyLine01Requirement.H2',
 'assemblyLine01Requirement.H4',
 'assemblyLine01Requirement.I2',
 'assemblyLine01Requirement.I4',
 'assemblyLine01Requirement.J2',
 'assemblyLine01Requirement.J4',
 'assemblyLine01Requirement.K2',
 'assemblyLine01Requirement.K4',
 'assemblyLine01Requirement.L2',
 'assemblyLine01Requirement.L4',
 'assemblyLine01Requirement.M2',
 'assemblyLine01Requirement.M4',
 'assemblyLine01Requirement.N2',
 'assemblyLine01Requirement.N4',
 'assemblyLine01Requirement.O2',
 'assemblyLine01Requirement.O4',
 'assemblyLine01Requirement.P2',
 'assemblyLine01Requirement.P4',
 'assemblyLine01Requirement.Q2',
 'assemblyLine01Requirement.Q4',
 'assemblyLine01Requirement.R2',
 'assemblyLine01Requirement.R4',
 'assemblyLine01Requirement.S2',
 'assemblyLine01Requirement.S4',
 'assemblyLine01Requirement.SA',
 'assemblyLine01Requirement.SE',
 'assemblyLine01Requirement.SF',
 'assemblyLine01Requirement.SG',
 'assemblyLine01Requirement.T2',
 'assemblyLine01Requirement.T4',
 'assemblyLine01Requirement.U2',
 'assemblyLine01Requirement.U4',
 'stock.A2',
 'stock.B2',
 'stock.C2',
 'stock.D2',
 'stock.E2',
 'stock.F2',
 'stock.G2',
 'stock.H2',
 'stock.I2',
 'stock.J2',
 'stock.K2',
 'stock.L2',
 'stock.M2',
 'stock.N2',
 'stock.O2',
 'stock.P2',
 'stock.Q2',
 'stock.R2',
 'stock.S2',
 'stock.T2',
 'stock.U2',
 'stock.A4',
 'stock.B4',
 'stock.C4',
 'stock.D4',
 'stock.E4',
 'stock.F4',
 'stock.G4',
 'stock.H4',
 'stock.I4',
 'stock.J4',
 'stock.K4',
 'stock.L4',
 'stock.M4',
 'stock.N4',
 'stock.O4',
 'stock.P4',
 'stock.Q4',
 'stock.R4',
 'stock.S4',
 'stock.T4',
 'stock.U4',
 'stock.SA',
 'stock.SG',
 'stock.SE',
 'stock.SF',
 'assemblyLine02Requirement.A2',
 'assemblyLine02Requirement.A4',
 'assemblyLine02Requirement.B2',
 'assemblyLine02Requirement.B4',
 'assemblyLine02Requirement.C2',
 'assemblyLine02Requirement.C4',
 'assemblyLine02Requirement.D2',
 'assemblyLine02Requirement.D4',
 'assemblyLine02Requirement.E2',
 'assemblyLine02Requirement.E4',
 'assemblyLine02Requirement.F2',
 'assemblyLine02Requirement.F4',
 'assemblyLine02Requirement.G2',
 'assemblyLine02Requirement.G4',
 'assemblyLine02Requirement.H2',
 'assemblyLine02Requirement.H4',
 'assemblyLine02Requirement.I2',
 'assemblyLine02Requirement.I4',
 'assemblyLine02Requirement.J2',
 'assemblyLine02Requirement.J4',
 'assemblyLine02Requirement.K2',
 'assemblyLine02Requirement.K4',
 'assemblyLine02Requirement.L2',
 'assemblyLine02Requirement.L4',
 'assemblyLine02Requirement.M2',
 'assemblyLine02Requirement.M4',
 'assemblyLine02Requirement.N2',
 'assemblyLine02Requirement.N4',
 'assemblyLine02Requirement.O2',
 'assemblyLine02Requirement.O4',
 'assemblyLine02Requirement.P2',
 'assemblyLine02Requirement.P4',
 'assemblyLine02Requirement.Q2',
 'assemblyLine02Requirement.Q4',
 'assemblyLine02Requirement.R2',
 'assemblyLine02Requirement.R4',
 'assemblyLine02Requirement.S2',
 'assemblyLine02Requirement.S4',
 'assemblyLine02Requirement.SA',
 'assemblyLine02Requirement.SE',
 'assemblyLine02Requirement.SF',
 'assemblyLine02Requirement.SG',
 'assemblyLine02Requirement.T2',
 'assemblyLine02Requirement.T4',
 'assemblyLine02Requirement.U2',
 'assemblyLine02Requirement.U4',
 'kittingLineProduced.A2',
 'kittingLineProduced.B2',
 'kittingLineProduced.C2',
 'kittingLineProduced.D2',
 'kittingLineProduced.E2',
 'kittingLineProduced.F2',
 'kittingLineProduced.G2',
 'kittingLineProduced.H2',
 'kittingLineProduced.I2',
 'kittingLineProduced.J2',
 'kittingLineProduced.K2',
 'kittingLineProduced.L2',
 'kittingLineProduced.M2',
 'kittingLineProduced.N2',
 'kittingLineProduced.O2',
 'kittingLineProduced.P2',
 'kittingLineProduced.Q2',
 'kittingLineProduced.R2',
 'kittingLineProduced.S2',
 'kittingLineProduced.T2',
 'kittingLineProduced.U2',
 'kittingLineProduced.A4',
 'kittingLineProduced.B4',
 'kittingLineProduced.C4',
 'kittingLineProduced.D4',
 'kittingLineProduced.E4',
 'kittingLineProduced.F4',
 'kittingLineProduced.G4',
 'kittingLineProduced.H4',
 'kittingLineProduced.I4',
 'kittingLineProduced.J4',
 'kittingLineProduced.K4',
 'kittingLineProduced.L4',
 'kittingLineProduced.M4',
 'kittingLineProduced.N4',
 'kittingLineProduced.O4',
 'kittingLineProduced.P4',
 'kittingLineProduced.Q4',
 'kittingLineProduced.R4',
 'kittingLineProduced.S4',
 'kittingLineProduced.T4',
 'kittingLineProduced.U4',
 'kittingLineProduced.SA',
 'kittingLineProduced.SG',
 'kittingLineProduced.SE',
 'kittingLineProduced.SF',
 'assemblyLine01Requirement']

In [11]:
filter_col = [col for col in df_stock if col.startswith('stock')]
filter_col.append('time')
filter_col

['stockTotal',
 'stock.A2',
 'stock.B2',
 'stock.C2',
 'stock.D2',
 'stock.E2',
 'stock.F2',
 'stock.G2',
 'stock.H2',
 'stock.I2',
 'stock.J2',
 'stock.K2',
 'stock.L2',
 'stock.M2',
 'stock.N2',
 'stock.O2',
 'stock.P2',
 'stock.Q2',
 'stock.R2',
 'stock.S2',
 'stock.T2',
 'stock.U2',
 'stock.A4',
 'stock.B4',
 'stock.C4',
 'stock.D4',
 'stock.E4',
 'stock.F4',
 'stock.G4',
 'stock.H4',
 'stock.I4',
 'stock.J4',
 'stock.K4',
 'stock.L4',
 'stock.M4',
 'stock.N4',
 'stock.O4',
 'stock.P4',
 'stock.Q4',
 'stock.R4',
 'stock.S4',
 'stock.T4',
 'stock.U4',
 'stock.SA',
 'stock.SG',
 'stock.SE',
 'stock.SF',
 'time']

In [12]:
df_stock = df_stock[filter_col]
# df_stock.set_index('time', inplace = True)

In [13]:
df_stock.head()

,stockTotal,stock.A2,stock.B2,stock.C2,stock.D2,stock.E2,stock.F2,stock.G2,stock.H2,stock.I2,...,stock.Q4,stock.R4,stock.S4,stock.T4,stock.U4,stock.SA,stock.SG,stock.SE,stock.SF,time
0,10984,924,854,799,699,617,259.0,254.0,574,361,...,4,41,9,9,3,189,224,26,12,13/11/2020 05:00
1,11285,618,575,858,409,346,171.0,190.0,417,272,...,4,41,131,9,3,177,211,25,4,13/11/2020 06:00
2,11199,615,617,785,92,154,119.0,151.0,293,203,...,4,41,373,9,3,164,198,21,1,13/11/2020 07:00
3,12023,577,484,477,281,502,193.0,296.0,591,428,...,4,41,373,9,3,156,189,21,86,13/11/2020 08:00
4,12474,685,626,540,416,520,171.0,199.0,480,291,...,4,125,373,9,3,146,176,20,83,13/11/2020 09:00

In [14]:
df_stock = df_stock.melt(id_vars=['time'])
df_stock.head()

               time    variable    value
0  13/11/2020 05:00  stockTotal  10984.0
1  13/11/2020 06:00  stockTotal  11285.0
2  13/11/2020 07:00  stockTotal  11199.0
3  13/11/2020 08:00  stockTotal  12023.0
4  13/11/2020 09:00  stockTotal  12474.0

In [15]:
df_stock.to_csv('response_stock.csv', index = False)