In [1]:
import pandas as pd
import json
from pandas import json_normalize

In [2]:
# file = open(r'C:\Users\Peiran Quan\myWorkStation\PlanningClient\template_response.json')
file = open(r'.\test_response.json')

In [3]:
data = json.load(file)

In [4]:
df = json_normalize(data["pickingJob"])
df

,teamId,startDateTime,finishDateTime,teamLeader,id,line,batch,week,year,done,recipe,productionTarget,mealKitPerCrate,targetSpeed,displayOrder,createdAt,teamNames
0,1,06:00,06:48,Team 1,0,14,None,None,None,None,M4,350,5,433,None,None,None
1,1,06:48,07:30,Team 1,0,14,None,None,None,None,M2,420,6,617,None,None,None
2,1,07:30,08:20,Team 1,0,14,None,None,None,None,M4,350,5,433,None,None,None
3,1,08:20,09:08,Team 1,0,14,None,None,None,None,M4,350,5,433,None,None,None
4,1,09:08,09:57,Team 1,0,14,None,None,None,None,M4,350,5,433,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,20,07:14,07:51,Team 20,0,8,None,None,None,None,H2,350,5,569,None,None,None
143,20,07:51,08:28,Team 20,0,8,None,None,None,None,H4,280,4,465,None,None,None
144,20,08:28,09:04,Team 20,0,8,None,None,None,None,H4,280,4,465,None,None,None
145,20,09:04,09:42,Team 20,0,8,None,None,None,None,H2,350,5,569,None,None,None
146,21,12:25,13:24,Team 20,0,11,None,None,None,None,L2,420,6,426,None,None,None

In [5]:
df_ultilize = df[["teamLeader", "line", "startDateTime", "finishDateTime", "recipe", "productionTarget"]]
df_ultilize

    teamLeader line startDateTime finishDateTime recipe  productionTarget
0       Team 1   14         06:00          06:48     M4               350
1       Team 1   14         06:48          07:30     M2               420
2       Team 1   14         07:30          08:20     M4               350
3       Team 1   14         08:20          09:08     M4               350
4       Team 1   14         09:08          09:57     M4               350
..         ...  ...           ...            ...    ...               ...
142    Team 20    8         07:14          07:51     H2               350
143    Team 20    8         07:51          08:28     H4               280
144    Team 20    8         08:28          09:04     H4               280
145    Team 20    8         09:04          09:42     H2               350
146    Team 20   11         12:25          13:24     L2               420

[147 rows x 6 columns]

In [6]:
df_ultilize.to_csv('response.csv', index = False)

In [7]:
df_stock = json_normalize(data["stockOverTime"])
df_stock.head()

,time,assemblyLine01Requirement,assemblyLine02Requirement,shortage,stockTotal,as01Total,as02Total,kittingLineTotal,dollyCount,acceptedDollyCount,...,assemblyLine02Requirement.SE,assemblyLine02Requirement.SF,assemblyLine02Requirement.SG,assemblyLine02Requirement.T2,assemblyLine02Requirement.T4,assemblyLine02Requirement.U2,assemblyLine02Requirement.U4,stock.O4,kittingLineProduced.O4,kittingLineProduced
0,06:00,NaN,NaN,0,8600,0,0,8600,275,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07:00,NaN,NaN,0,17873,0,0,9273,534,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,08:00,NaN,NaN,0,24604,342,118,7191,744,0,...,0.0,0.0,4.0,5.0,0.0,0.0,0.0,186.0,189.0,NaN
3,09:00,NaN,NaN,0,25593,1892,2342,5223,788,0,...,5.0,4.0,14.0,15.0,0.0,25.0,0.0,179.0,0.0,NaN
4,10:00,NaN,NaN,0,27555,790,1684,4436,853,0,...,0.0,2.0,7.0,7.0,0.0,9.0,0.0,176.0,0.0,NaN

In [8]:
filter_col = [col for col in df_stock if col.startswith('stock')]
filter_col.append('time')
filter_col

['stockTotal',
 'stock.A2',
 'stock.B2',
 'stock.C2',
 'stock.D2',
 'stock.E2',
 'stock.F2',
 'stock.H2',
 'stock.I2',
 'stock.J2',
 'stock.L2',
 'stock.M2',
 'stock.N2',
 'stock.O2',
 'stock.P2',
 'stock.Q2',
 'stock.R2',
 'stock.S2',
 'stock.T2',
 'stock.A4',
 'stock.B4',
 'stock.C4',
 'stock.D4',
 'stock.E4',
 'stock.F4',
 'stock.G4',
 'stock.H4',
 'stock.I4',
 'stock.J4',
 'stock.K4',
 'stock.L4',
 'stock.M4',
 'stock.N4',
 'stock.P4',
 'stock.Q4',
 'stock.R4',
 'stock.S4',
 'stock.U4',
 'stock.SA',
 'stock.SG',
 'stock.SE',
 'stock.SF',
 'stock.G2',
 'stock.K2',
 'stock.U2',
 'stock.T4',
 'stock.O4',
 'time']

In [9]:
df_stock = df_stock[filter_col]
# df_stock.set_index('time', inplace = True)

In [10]:
df_stock.head()

,stockTotal,stock.A2,stock.B2,stock.C2,stock.D2,stock.E2,stock.F2,stock.H2,stock.I2,stock.J2,...,stock.SA,stock.SG,stock.SE,stock.SF,stock.G2,stock.K2,stock.U2,stock.T4,stock.O4,time
0,8600,182,152,179,142,149,199,226,174,115,...,280,211,38,101,NaN,NaN,NaN,NaN,NaN,06:00
1,17873,700,690,648,700,420,511,700,350,679,...,280,360,38,101,280.0,420.0,295.0,97.0,NaN,07:00
2,24604,694,833,694,691,831,840,699,700,840,...,273,356,38,99,448.0,402.0,420.0,147.0,186.0,08:00
3,25593,788,578,717,436,618,810,929,638,779,...,256,335,33,94,503.0,254.0,395.0,139.0,179.0,09:00
4,27555,611,409,588,270,484,787,840,575,730,...,244,328,33,92,459.0,207.0,386.0,138.0,176.0,10:00

In [11]:
df_stock = df_stock.melt(id_vars=['time'])
df_stock.head()

    time    variable    value
0  06:00  stockTotal   8600.0
1  07:00  stockTotal  17873.0
2  08:00  stockTotal  24604.0
3  09:00  stockTotal  25593.0
4  10:00  stockTotal  27555.0

In [12]:
df_stock.to_csv('response_stock.csv', index = False)