In [1]:
import pandas as pd
import json
from pandas import json_normalize

In [2]:
file = open(r'C:\Users\Peiran Quan\myWorkStation\PlanningClient\template_response.json')

In [3]:
data = json.load(file)

In [4]:
df = json_normalize(data["pickingJob"])
df

,teamId,startDateTime,finishDateTime,teamLeader,id,line,batch,week,year,done,recipe,productionTarget,mealKitPerCrate,targetSpeed,displayOrder,createdAt
0,1,06:00,06:51,Team 1,0,5,None,None,None,None,B4,280,None,None,None,None
1,1,06:51,07:46,Team 1,0,14,None,None,None,None,N2,350,None,None,None,None
2,1,07:46,08:42,Team 1,0,3,None,None,None,None,D2,350,None,None,None,None
3,1,08:42,09:39,Team 1,0,11,None,None,None,None,M4,280,None,None,None,None
4,1,09:39,10:36,Team 1,0,6,None,None,None,None,C4,280,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,9,14:08,15:04,Team 9,0,11,None,None,None,None,M2,350,None,None,None,None
105,9,15:04,15:43,Team 9,0,12,None,None,None,None,K2,229,None,None,None,None
106,9,15:43,16:05,Team 9,0,19,None,None,None,None,T2,143,None,None,None,None
107,9,16:05,16:59,Team 9,0,19,None,None,None,None,T4,280,None,None,None,None
108,9,16:59,20:39,Team 9,0,14,None,None,None,None,N4,1230,None,None,None,None

In [5]:
df_ultilize = df[["teamLeader", "line", "startDateTime", "finishDateTime", "recipe", "productionTarget"]]
df_ultilize

    teamLeader line startDateTime finishDateTime recipe  productionTarget
0       Team 1    5         06:00          06:51     B4               280
1       Team 1   14         06:51          07:46     N2               350
2       Team 1    3         07:46          08:42     D2               350
3       Team 1   11         08:42          09:39     M4               280
4       Team 1    6         09:39          10:36     C4               280
..         ...  ...           ...            ...    ...               ...
104     Team 9   11         14:08          15:04     M2               350
105     Team 9   12         15:04          15:43     K2               229
106     Team 9   19         15:43          16:05     T2               143
107     Team 9   19         16:05          16:59     T4               280
108     Team 9   14         16:59          20:39     N4              1230

[109 rows x 6 columns]

In [6]:
df_ultilize.to_csv('response.csv', index = False)

In [7]:
df_stock = json_normalize(data["stockOverTime"])
df_stock.head()

,time,assemblyLine01Requirement,assemblyLine02Requirement,shortage,stockTotal,as01Total,as02Total,kittingLineTotal,dollyCount,acceptedDollyCount,...,kittingLineProduced.H4,kittingLineProduced.I4,kittingLineProduced.J4,kittingLineProduced.C4,kittingLineProduced.D4,kittingLineProduced.A4,kittingLineProduced.F4,kittingLineProduced.S2,kittingLineProduced.P4,kittingLineProduced.S4
0,06:00,NaN,None,0,2968,0,0,2968,88,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07:00,NaN,None,0,5906,0,0,2938,172,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,08:00,NaN,None,-91,8512,615,0,3221,261,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,09:00,NaN,None,-238,6238,4958,0,2684,204,0,...,210.0,252.0,198.0,121.0,115.0,95.0,80.0,50.0,28.0,0.0
4,10:00,NaN,None,-129,6150,2518,0,2430,203,0,...,0.0,34.0,55.0,159.0,165.0,350.0,200.0,300.0,55.0,64.0

In [8]:
filter_col = [col for col in df_stock if col.startswith('stock')]
filter_col.append('time')
filter_col

['stockTotal',
 'stock.B4',
 'stock.E4',
 'stock.K4',
 'stock.N4',
 'stock.Q4',
 'stock.E2',
 'stock.F2',
 'stock.L2',
 'stock.M2',
 'stock.N2',
 'stock.SF',
 'stock.SG',
 'stock.A2',
 'stock.C2',
 'stock.P2',
 'stock.SA',
 'stock.SE',
 'stock.K2',
 'stock.R2',
 'stock.O2',
 'stock.D2',
 'stock.T2',
 'stock.G2',
 'stock.H2',
 'stock.J2',
 'stock.I2',
 'stock.B2',
 'stock.Q2',
 'stock.L4',
 'stock.M4',
 'stock.R4',
 'stock.O4',
 'stock.T4',
 'stock.G4',
 'stock.H4',
 'stock.I4',
 'stock.J4',
 'stock.C4',
 'stock.D4',
 'stock.A4',
 'stock.F4',
 'stock.S2',
 'stock.P4',
 'stock.S4',
 'time']

In [9]:
df_stock = df_stock[filter_col]
# df_stock.set_index('time', inplace = True)

In [10]:
df_stock.head()

,stockTotal,stock.B4,stock.E4,stock.K4,stock.N4,stock.Q4,stock.E2,stock.F2,stock.L2,stock.M2,...,stock.I4,stock.J4,stock.C4,stock.D4,stock.A4,stock.F4,stock.S2,stock.P4,stock.S4,time
0,2968,280,280,350,280,350,68.0,350.0,420.0,350.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06:00
1,5906,280,280,350,280,350,350.0,350.0,420.0,350.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07:00
2,8512,261,264,336,252,346,317.0,338.0,396.0,336.0,...,-12.0,-9.0,-7.0,-11.0,-19.0,-9.0,-4.0,-3.0,-1.0,08:00
3,6238,33,107,201,13,296,87.0,214.0,182.0,217.0,...,192.0,153.0,-8.0,-67.0,-100.0,1.0,-10.0,19.0,-53.0,09:00
4,6150,-110,7,104,97,263,78.0,180.0,105.0,182.0,...,198.0,192.0,76.0,2.0,149.0,146.0,272.0,72.0,-19.0,10:00

In [11]:
df_stock = df_stock.melt(id_vars=['time'])
df_stock.head()

    time    variable   value
0  06:00  stockTotal  2968.0
1  07:00  stockTotal  5906.0
2  08:00  stockTotal  8512.0
3  09:00  stockTotal  6238.0
4  10:00  stockTotal  6150.0

In [12]:
df_stock.to_csv('response_stock.csv', index = False)