In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [2]:
spark = SparkSession.builder.appName('StructStreaming').getOrCreate()
spark

In [3]:
import pandas as pd
import numpy as np
# partitions
length = 100
names = np.random.choice(['Bob', 'James', 'Marek', 'Johannes', None], length)
amounts = np.random.randint(0, 1000000, length)
country = np.random.choice(
	['United Kingdom', 'Poland', 'USA', 'Germany', None], 
	length
)
df = pd.DataFrame({'name': names, 'amount': amounts, 'country': country})

transactions = spark.createDataFrame(df)
print('Number of partitions: {}'.format(transactions.rdd.getNumPartitions())) # <= 8 cores laptop 
print('Partitioner: {}'.format(transactions.rdd.partitioner))
# print('Partitions structure: {}'.format(transactions.rdd.glom().collect()))

Number of partitions: 8
Partitioner: None
Partitions structure: [[Row(name='Bob', amount=166165, country='United Kingdom'), Row(name='Bob', amount=787156, country='USA'), Row(name='Marek', amount=311201, country='Poland'), Row(name=None, amount=355068, country='Germany'), Row(name='Johannes', amount=505687, country='Germany'), Row(name='Marek', amount=407178, country='Germany'), Row(name=None, amount=162684, country='USA'), Row(name='James', amount=327863, country='USA'), Row(name='Marek', amount=659066, country='Poland'), Row(name='James', amount=504155, country='United Kingdom'), Row(name='Bob', amount=836976, country='Germany'), Row(name='James', amount=607099, country='Poland')], [Row(name=None, amount=278525, country=None), Row(name='James', amount=480807, country='Poland'), Row(name=None, amount=273361, country='Germany'), Row(name='James', amount=718967, country='USA'), Row(name='Bob', amount=71821, country=None), Row(name='James', amount=970197, country='Poland'), Row(name='Bob', amount=929508, country='Germany'), Row(name='Johannes', amount=914400, country=None), Row(name=None, amount=905607, country='Poland'), Row(name='Johannes', amount=145931, country='USA'), Row(name='Bob', amount=829175, country='United Kingdom'), Row(name='Bob', amount=588395, country='Poland')], [Row(name='Johannes', amount=294335, country='United Kingdom'), Row(name='James', amount=389347, country='Germany'), Row(name='Marek', amount=232386, country='United Kingdom'), Row(name='Johannes', amount=302168, country='United Kingdom'), Row(name='Johannes', amount=144757, country=None), Row(name='Johannes', amount=899098, country='USA'), Row(name='James', amount=518494, country='USA'), Row(name='Bob', amount=862506, country=None), Row(name='Johannes', amount=151163, country='Germany'), Row(name='Johannes', amount=267038, country='Poland'), Row(name='Johannes', amount=968652, country=None), Row(name='Johannes', amount=786404, country='USA')], [Row(name='Johannes', amount=827308, country='Germany'), Row(name='Johannes', amount=334692, country='United Kingdom'), Row(name=None, amount=240963, country=None), Row(name='Johannes', amount=332410, country='Germany'), Row(name='Marek', amount=969804, country='United Kingdom'), Row(name='James', amount=441006, country='Poland'), Row(name='James', amount=319201, country='Poland'), Row(name='James', amount=101940, country='Germany'), Row(name=None, amount=451760, country='Germany'), Row(name=None, amount=793246, country='USA'), Row(name='Johannes', amount=822637, country='USA'), Row(name='Bob', amount=150794, country=None)], [Row(name='James', amount=933550, country='United Kingdom'), Row(name='Johannes', amount=955474, country='United Kingdom'), Row(name='James', amount=1480, country='USA'), Row(name='Marek', amount=211070, country='Germany'), Row(name='Marek', amount=441060, country='Poland'), Row(name='Bob', amount=16300, country='Poland'), Row(name='Bob', amount=643655, country=None), Row(name='Marek', amount=94172, country='Germany'), Row(name='James', amount=177174, country='United Kingdom'), Row(name='Bob', amount=175156, country='Germany'), Row(name='Bob', amount=222484, country='Germany'), Row(name='Bob', amount=448711, country='Poland')], [Row(name='Bob', amount=850784, country='Poland'), Row(name='Bob', amount=784126, country='United Kingdom'), Row(name='Johannes', amount=562982, country='Germany'), Row(name='Marek', amount=105039, country='Germany'), Row(name='James', amount=408420, country=None), Row(name=None, amount=702664, country='Germany'), Row(name='James', amount=329082, country='Poland'), Row(name='Marek', amount=696034, country=None), Row(name='Johannes', amount=226147, country='USA'), Row(name=None, amount=554039, country='Germany'), Row(name='Bob', amount=61705, country='United Kingdom'), Row(name='Marek', amount=496795, country='Poland')], [Row(name='James', amount=674093, country=None), Row(name='Johannes', amount=961433, country='Germany'), Row(name='Bob', amount=748259, country='Germany'), Row(name='James', amount=188216, country='Germany'), Row(name='Marek', amount=465586, country='USA'), Row(name='James', amount=83589, country='Germany'), Row(name='Marek', amount=732872, country='Poland'), Row(name=None, amount=109577, country='Poland'), Row(name='Bob', amount=125575, country='Germany'), Row(name='James', amount=647511, country='USA'), Row(name='James', amount=403176, country='USA'), Row(name='Bob', amount=328565, country='Germany')], [Row(name='James', amount=871692, country='United Kingdom'), Row(name='Bob', amount=677593, country=None), Row(name='Marek', amount=58499, country='Poland'), Row(name='Johannes', amount=691402, country='United Kingdom'), Row(name='Bob', amount=916964, country=None), Row(name='Marek', amount=375251, country=None), Row(name='Marek', amount=662470, country=None), Row(name='James', amount=726269, country='Poland'), Row(name='Bob', amount=783523, country='Poland'), Row(name='Johannes', amount=874501, country='USA'), Row(name='Johannes', amount=69086, country='Poland'), Row(name=None, amount=635233, country='Germany'), Row(name='Johannes', amount=352778, country='USA'), Row(name='James', amount=388021, country='USA'), Row(name='Marek', amount=222448, country=None), Row(name='James', amount=447584, country='Poland')]]

In [5]:
transactions.count()

100

In [3]:
lines = spark.readStream \
             .format("socket") \
             .option("host", "localhost") \
             .option("port", 9999) \
             .load()
# Input table

In [4]:
words = lines.select(F.explode(
    F.split(lines.value, " ")
).alias("word"))

In [5]:
wordCounts = words.groupBy("word").count()
type(wordCounts)

pyspark.sql.dataframe.DataFrame

In [8]:
 # Start running the query that prints the running counts to the console
query = wordCounts \
    .writeStream \
    .outputMode("complete") \
    .format("console") \
    .start()

query.awaitTermination()

# Full cycle
spark.readStream
  .format("kafka")
  .option("subscribe", "input")
  .load()  ### reading IN
  .groupby('value.case("string") as key')
  .agg(count("*") as "value") ### transforming
  .writeStream()
  .format("kafka")
  .option("topic", "output") ## writing OUT
  .trigger("1 minute")
  .outputMode("update")  ## trigger
  .option("checkpointLocation", "...") 
  .withWaterMark("timestamp" "2 minutes") ## check point
  .start()